/* 全局样式 */
body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* 卡片样式 */
  body .card {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    color: #333333;
    padding: 20px;
    margin: 30px 30px 30px 30px;
  }
  
  body .card h2 {
    color: #ff7f50;
  }
  
  /* 页头样式 */
  header {
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px 0;
  }
  
  header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
  }
  
  header .logo {
    color: #ff7f50;
    font-size: 24px;
    font-weight: bold;
    order: 1;
    text-decoration: none;
  }
  
  header nav {
    order: 2;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin-left: 20px;
  }
  
  header nav ul li:first-child {
    margin-left: 0;
  }
  
  header nav ul li a {
    background-color: #ffffff;
    border: 1px solid #ff7f50;
    border-radius: 5px;
    color: #ff7f50;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  header nav ul li a:hover {
    background-color: #ff7f50;
    color: #ffffff;
  }
  
  /* 页脚样式 */
  footer {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
  }
  
  footer .container {
    padding: 20px;
  }
  